.filter-section {
    padding-top: 6rem;
    z-index: 0;
    position: fixed;
    display: block;
    width: 100%;

    @include respond(tab-land) {
        padding-top: 8rem;
    }

    .filter {
        display: flex;
        gap: 1rem;
        overflow: scroll;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }

        .filter-button {
            border: 1px solid grey;
            border-radius: 3px;
            padding: .8rem 1.6rem;
            color: white;
            font-size: 1.6rem;
            cursor: pointer;

            @include respond(tab-land) {
                font-size: 1.6rem;
                padding: 1rem 2rem;
            }

            @include respond(tab-port) {
                font-size: 1.8rem;
                padding: 1rem 2rem;
            }

            @include respond(phone) {
                font-size: 2rem;
                padding: 1rem 2rem;
            }

            &:hover {
                background-color: rgba(242, 176, 176, 0.636);
            }
        }

        .filter-active {
            background-color: red !important;

        }
    }
}